In [73]:
%matplotlib inline
path = 'data/'

In [74]:
df_aisles = pd.read_csv(path + 'aisles.csv')
df_departments = pd.read_csv(path + 'departments.csv')
df_orders_prior = pd.read_csv(path + 'order_products__prior.csv')
df_orders_train = pd.read_csv(path + 'order_products__train.csv')
df_orders = pd.read_csv(path + 'orders.csv')
df_products = pd.read_csv(path + 'products.csv')
df_sample_submission = pd.read_csv(path + 'sample_submission.csv')

In [75]:
sample_products = []
for product_list in df_sample_submission.products.unique():
    temp = product_list.split(sep=' ')
    for product in temp:
        sample_products.append(int(product))

In [76]:
# just curious what items are the ones provided in the sample submission file
df_products[df_products.product_id.isin(sample_products)]

       product_id  product_name  aisle_id  department_id
29258       29259  Baby Bananas        24              4
39275       39276       Bananas        24              4